<div class="block sm:w-[calc(33.33333%_-_.5rem)] lg:w-[calc(25%_-_.5rem)] rounded-xl bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] pb-3 mb-3 h-auto">
    <%= link_to product_path(product), 'data-turbo-frame': '_top' do %>
      <% if product.photo.attached? %>
        <%= image_tag product.photo, class: 'rounded-t-lg w-full h-2/4 border-b-2 border-gray-500' %>
      <% else %>
        <%= image_tag 'placeholder.jpg', class: 'rounded-t w-full h-1/4' %>
      <% end %>
    <% end %>
    <div class="flex flex-col">
        <p class="bg-teal-500 text-white text-l font-bold w-max p-2 m-3 rounded-xl"><%= product.category.name %></p>
        <div class="flex justify-between items-center w-max sm:w-5/6 lg:w-11/12 ml-3 gap-3 mb-2">
            <h2 class="text-xl text-teal-600 font-black">
                <%= product.title %>
            </h2>
            <% if product.favorite%>
                <span class="star">★</span>
            <% end %>
        </div>
        <div class="flex gap-3 ml-3 mb-3">
            <p class='text-black font-black'><%= t('.price') %> <%= product.price %> $</p>
            <p>|</p>
            <p class='text-black font-black'><%= t('.stock') %> <%= product.stock %> Unidades</p>
          </div>
          <div class="mx-3 w-11/12 h-48 overflow-y-scroll rounded-xl bg-gray-200 p-2">
            <p class='w-full text-black'><%= product.description %></p>
          </div>
        <%= link_to t('.see_more'), product_path(product), class: 'p-2 border-2 border-teal-400 bg-white text-teal-500 rounded-xl hover:bg-teal-400 hover:text-white hover:border-white w-max mx-auto my-5' %>
    </div>
</div>
