<%= link_to product_path(product), class: 'product bg-white mb-2 rounded sm:w-[calc(33.33333%_-_.5rem)] lg:w-[calc(25%_-_.5rem)]', 'data-turbo-frame': '_top' do %>
    <%= image_tag product.photo.attached? ? product.photo : 'placeholder.jpg', class: "w-full h-60 object-cover" %>
    <span class="text-teal-500 ml-2"><strong><%= product.category.name %></strong></span>
    <div class="m-2">
        <div class="flex gap-2 items-center">
            <span class="font-bold text-xl"><%= product.price %>$</span>
            <h2>
                <%= product.title %>
                <% if product.favorite%>
                    <span class="star">★</span>
                <% end %>
            </h2>
        </div>
        <p class="text-gray-500 text-sm mt-2"><%= product.description %></p>
    </div>
<% end %>
