<p style="color: green"><%= notice %></p>

<%= render @product %>

<%= link_to t('.edit'), edit_product_path(@product) if @product.owner? %>
<%= link_to t('.back'), products_path %>
<%= link_to "Destroy this product", product_path(@product), data: {
  turbo_confirm: t('common.confirm'),
  turbo_method: :delete
}if @product.owner? %>

<%= link_to t('.view_more_products', username: @product.user.username), user_path(@product.user.id) %>

<%= render partial: 'favorite', locals: { product: @product } %>
